body {
    text-align: center;
    background-color: green;
}
  
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: cursive;
    text-shadow: 3px 0 #DA0463;
}
  

.q {
    background-image: url("images/q.png");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.w {
    background-image: url("images/w.png");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.e {
    background-image: url("images/e.png");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.r {
    background-image: url("images/r.gif"); 
    background-repeat: no-repeat;  
    background-size: 140px 100px;
}
  
.t {
    background-image: url("images/t.png");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.y {
    background-image: url("images/y.png");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.u {
    background-image: url("images/u.gif");
    background-repeat: no-repeat;  
    background-size: 150px 100px;
}
  
.all {
    margin: 10% auto;
}
  
.animation {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
  
.button {
    outline: none;
    border: 10px solid #404B69;
    font-size: 4rem;
    font-family: 'Arial', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
   
}